.focusable {
  outline: 0;
}

.focusable:focus {
  /*opacity: 0.5;*/
  border: 3px solid black;
}


.nav_Background_clolor{
background-color: #337ab7 !important;

}

.nav_text_color{
    color: white !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: lightgrey
  }

  #menu a:active {
    background: lightseagreen !important;
    display: block;
    color: #FFFFFF;
}

#menu li {
    display: block;
    background: lightseagreen;
}

#menu a:li {
    background: lightseagreen !important;
    display: block;
    color: #FFFFFF;
}


#menu a {
    background: lightseagreen !important;
    display: block;
  text-align: center;
    text-decoration: none;
    font: Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
}

.footer_clear_right{
    float: right;
}

.imageHeight{
    height: 65px;
}
.showImageWidth{
    width: 100%;
    height: fit-content;
}