<div (keydown)="onKeydown($event)">
    <nav class="navbar navbar-default nav_Background_clolor focusable" tabindex="1">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand nav_text_color">Jio Games</a>
            </div>
        </div>
    </nav>


<div class="col-xs-12">
    <div *ngIf="imageshow == true" >
        <img src="../assets/images/img1.jpg" class="showImageWidth" alt="Cinque Terre">
    </div>

    <div *ngIf="imageshow2 == true">
        <img src="../assets/images/img2.jpg" class="showImageWidth"  alt="Cinque Terre">
    </div>

    <div *ngIf="imageshow3 == true">
        <img src="../assets/images/img3.jpg" class="showImageWidth"  alt="Cinque Terre">
    </div>

    <div *ngIf="imageshow4 == true">
        <img src="../assets/images/img4.jpg" class="showImageWidth" alt="Cinque Terre">
    </div>
</div>
    <footer>
        <div>
            <b>Menu</b>
            <span class="footer_clear_right">
                <b>Clear</b>
            </span>
        </div>

    </footer>
</div>